.event-div{
    overflow: hidden !important;
    min-height: 75vh;
    height:auto;
    width: 100%;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

}
.event-h1{
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    color: #EC8103;
}
.slide-img{
    width: 100%;
    height: 19rem;
}
.carosel-div{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carosel-div2{
    width: 100%;
}
.slide-div{
    transition: ease .50s;
	cursor: pointer;
}

.slide-div:hover{
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}

@media (max-width: 280px) {
    .event-div{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
