@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.herodiv {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    overflow: hidden !important;
}

.header-left-image {
    margin-left: 4.5rem;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image {
    width: 650px;
    height: 70vh;
}

.header-right-text {
    margin-right: 5%;
    width: 50%;
    height: 70vh;
}

.yellow {
    color: #F08200;
}

.heading {
    color: #050505;
    font-family: "poller one";
    font-size: 37px;
}

.subtitle {
    font-family: "roboto";
    font-size: 20px;
    margin-top: 6%;
}

.sub-right-div {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.right-button-div{
    display: flex;
    margin-top: 6%;
}

.hero-button1{
    font-family: "roboto";
    font-size: 15px;
    width: 12rem;
    height: 3.5rem;
    border-radius: 8px;
    background-color:#000000;
    color: white;
    border: none;
}
.hero-button2{
    font-family: "roboto";
    font-size: 15px;
    width: 12rem;
    height: 3.5rem;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
}
.div2{
    margin-left: 5rem; 
}