.third-div {
    overflow: hidden !important;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-left: 3.7rem;
    padding-right: 3.7rem;
}

.top-text {
    text-align: center;
}

.top-text h1 {
    color: #EC8103;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
}

.top-text p {
    color: #283847;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.flexbox{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.flex1 {
    padding-top: 1rem;
    background-color: #F3F4F6;
    width: 17rem;
    height: 19rem;
    border-radius: 15px;
    border: #979797 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: ease .50s;
	cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}

.flex1 h3 {
    font-family: "Roboto", sans-serif;
    color: #050505;
    font-size: 23px;
}

.flex1 p {
    font-family: "Roboto", sans-serif;
    color: #283847;
    line-height:21px;
    margin-top: .7rem;
}
.flex1:hover{
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}
.flexbox-btn {
    width: 4rem;
    height: 3rem;
    background-color: #EC8103;
    margin-left: 9.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: ease .50s;
}
.flexbox-btn:hover{
    transform: scale(1.1);
}

#third-flex{
    background-color: #EC8103;
}

#third-h{
    color: #FFF;
}

#third-p{
    color: #050505;
}
#arrow2{
    background-color: #FFF;
}

@media (max-width: 1070px) {
    .top-text p{
        font-size: 20px;
    }
    .top-text h1{
        font-size: 30px;
    }
    .last{
        margin-top: 1.5rem;
    }
    .third-div{
        padding-bottom: 2.5rem;
    }
}
@media (max-width: 1030px) {
    #third-flex{
        margin-top: 1.5rem;
    }
    .flex1{
        width: 20rem;
        height: 21rem;
    }
}
@media (max-width: 822px) {
    .second{
        margin-top: 1.5rem;
    }
  
}
@media (max-width: 400px) {
    .third-div{
        padding-left: 1rem;
        padding-right: 1rem;
    }
  
}
@media (max-width: 330px) {
    .flex1 h3{
        font-size: 18px;
    }
    .flex1 p{
        font-size: 15px;
    }
}

@media (max-width: 280px) {
    .third-div{
        padding-left: 0;
        padding-right: 0;
    }
}
